.bookingcard {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 20vw;
}

@media (max-width: 767px) {
  .bookingcard {
    max-width: 100vw;
    margin-bottom: 0em;
  }
}
