.bookingconfirmationpage {
    width: 80vw;
    margin: 12em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .bookingconfirmationpage  { 
      width: 100vw; 
      margin: 0;
      padding: 3em 2em 4em;
      flex-direction: column;
    }
  }