.explorepage {
  margin: 7em 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative; /* Prevent conflicts */
  overflow: visible; /* Ensure modal visibility */
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  width: 100%;
}

.spotslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the left */
  gap: 1.5em;
  max-width: 85%;
}

.spotslist > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: calc(25% - 1.5em);
  flex-basis: calc(25% - 1.5em);
}

.mobile-skeleton {
  display: none;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  background-color: orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  z-index: 1000; /* Ensure it floats above page content */
}

.floating-button:hover {
  background-color: rgb(255, 132, 0);
}

.mantine-Modal-root {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.mantine-Modal-content {
  max-width: 90%;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .spotslist > * {
    max-width: calc(33.33% - 1em);
    flex-basis: calc(33.33% - 1em);
  }
}

@media (max-width: 767px) {
  .explorepage {
    margin: 2em 1em 6em;
  }

  .gallery-container {
    flex-direction: column;
  }
  .spotslist {
    flex-direction: column;
    gap: 1em;
    max-width: 100%;
  }
  .spotslist > * {
    max-width: 100%;
    flex-basis: 100%;
  }
  .mobile-skeleton {
    display: block;
  }
}
