.detailspage {
  margin: 6em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.detailed-carousel-container {
  position: relative;
  border-radius: 0em;
  overflow: hidden;
  width: 100%;
}

.skeleton-detailed-page {
  margin: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.detailed-content {
  padding: 1em 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-content {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.arrowback-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 499;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.arrowback-icon:hover {
  transform: scale(1.1);
  background-color: orange;
}

.edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 499;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.edit-icon:hover {
  transform: scale(1.1);
  background-color: orange;
}

.delete-spot-icon {
  position: absolute;
  top: 10px;
  right: 70px;
  z-index: 499;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.delete-spot-icon:hover {
  transform: scale(1.1);
  background-color: orange;
}

.date-selection-desktop {
  display: flex;
  justify-content: space-between;
}

.date-selection-mobile {
  display: none;
}
.sticky-footer {
  display: none;
}

.booking-box {
  margin: 2em 0em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50%;
  height: fit-content;
  border-radius: 1em;
  box-shadow: 0 2px 4px rgba(186, 183, 183, 0.6);
}

.left-content {
  margin-right: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.priceperday {
  font-size: 2em;
  font-weight: 800;
}

.price-calc {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 1em;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sticky-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }

  .price-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .detailspage {
    margin: 0em 0em 6em;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .detailed-content {
    margin: 0em 0em 4em;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .desktop-booking-button {
    display: none;
  }

  .left-content {
    margin-right: 0em;
  }
  .booking-box {
    display: none;
  }
  .date-selection-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
