.desktop-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 2em; /* Space between navigation and profile */
}

.navbar-links {
  display: flex;
  gap: 1.5em; /* Space between links */
  align-items: center;
}

.profile-menu {
  display: flex;
  align-items: center;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap; /* Prevent wrapping */
}

.username {
  font-size: 1em;
  white-space: nowrap; /* Ensure "Hi, xxx!" stays on one line */
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.logo:hover {
  color: orange
}

.mobile-navbar {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
  padding: 0.5em 0;
  z-index: 1000;
}

.nav-item {
  text-align: center;
  font-size: 0.9em;
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item span {
  margin-top: 0.3em;
  font-size: 0.8em;
}

.nav-item:hover {
  color: orange;
}

/* Highlight active links */
.navbar-links .active-link {
  color: orange;
  text-decoration: none;
}

.mobile-navbar .active-link {
  color: orange;
}

.mobile-navbar .active-icon {
  color: orange;
}

@media (max-width: 768px) {
  .desktop-navbar {
    display: none; /* Hide desktop navbar */
  }

  .mobile-navbar {
    display: flex; /* Show mobile navbar */
  }
}
